body {
    background-image: url('/images/BackGround\ Image.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* ---NAVBAR START--- */

.nav-bar {
    list-style: none;
    background-image: linear-gradient(to bottom, rgba(45, 45, 53, 1), rgba(0, 0, 0, 0));
}

.nav-item {
    font-size: 2.5rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: background-image 0.1s ease;
}

.nav-item:hover{
    background-image: linear-gradient(to bottom, rgba(45, 45, 53, 1), rgba(0, 0, 0, 0));
}

.nav-item-text {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

.nav-item:hover .nav-item-text {
    color: white;
}

/* ---NAVBAR END--- */

/* ---FOOTER START--- */

footer {
    border-top: 5px solid black;
}

.footer-link {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.footer-link:hover {
    color: white;
    background-color: black;
}

/* ---FOOTER END--- */

/* ---POST LIST START--- */

.intro {
    color: white;
}

.post-list {
    list-style: none;
}

.post-item {
    background-color: rgba(45, 45, 53, 0.5);
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

.post-item:hover {
    background-color: rgba(45, 45, 53);
}

.post-item-link {
    text-decoration: none;
}

.post-item-title {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    border-right: 5px solid rgba(0, 0, 0, 0);
    transition: color 0.2s ease, border-right 0.2s ease, font-size 0.2s ease;
}

.post-item:hover .post-item-title {
    border-color: white;
    font-size: 2.5rem;
}

.post-item-excerpt {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

/* ---POST LIST END--- */

/* ---POST PAGE START--- */

.side-list {
    padding: 0%;
    text-align: center;
    border-right: 5px solid black;
}

.side-item {
    background-color: white;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

.side-item:hover {
    background-color: black;
}

.side-item-link {
    text-decoration: none;
}

.side-item-title {
    font-size: 2rem;
    font-weight: 500;
    color: black;
    transition: color 0.2s ease;
}

.side-item:hover .side-item-title {
    color: white;
}

.previous-next-button {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    color: black;
    background-color: rgb(158, 158, 158);
    border-radius: 20px;
}

.hover-button {
    transition: color 0.2s ease, background-color 0.2s ease;
}

.hover-button:hover {
    color: white;
    background-color: black;
}

.grayed-button {
    color: gray;
}

/* ---POST PAGE END--- */