/* Navbar Detailing */
.nav-bar {
    list-style: none;
    border-bottom: 5px solid black;
}

/* Nav Item Detailing */
.nav-item {
    font-size: 2.5rem;
    background-color: white;
    transition: background-color 0.1s ease;
}

.nav-item:hover{
    background-color: black;
}

/* Nav Item Text Detailing */
.nav-item-text {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease;
}

.nav-item:hover .nav-item-text {
    color: white;
}

/* Post List Detailing */
.post-list {
    list-style: none;
}

/* Post Item Detailing*/
.post-item {
    background-color: white;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

.post-item:hover {
    background-color: black;
}

/* Post Item Link Detailing*/
.post-item-link {
    text-decoration: none;
}

/* Post Item Title Detailing*/
.post-item-title {
    font-size: 2rem;
    color: black;
    border-right: 5px solid black;
    transition: color 0.2s ease, border-right 0.2s ease, font-size 0.2s ease;
}

.post-item:hover .post-item-title {
    color: white;
    border-color: white;
    font-size: 2.5rem;
}

/* Post Item Excerpt Detailing*/
.post-item-excerpt {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease;
}

.post-item:hover .post-item-excerpt {
    color: white;
}