body {
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* ---NAVBAR START--- */

.nav-bar {
    display: flex;
    padding: 0%;
    margin-top: 0%;
    gap: 2%;
    justify-content: center;
}

.nav-item {
    padding-top: 16px;
}

.nav-item-text {
    padding: 0% 1rem;
}

/* ---NAVBAR END--- */

/* ---FOOTER START--- */

footer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-link {
    padding: 10px;
}

/* ---FOOTER END--- */

/* ---OTHER START--- */

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    text-align: center;
}

.intro-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 1200px;
}

.new-post-hero {
    display: flex;
    justify-content: right;
    align-items: center;
}

.new-post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    padding-left: 10px;
}

.new-post-icon {
    padding: 0px 10px;
}

/* ---OTHER END--- */

/* ---POST LIST START--- */

.post-list {
    padding: 0%;
    width: 1200px;
    text-align: center;
}

.post-item {
    margin: 20px 0px;
}

.post-item-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0% 1rem;
    height: 200px;
}

.post-item-title {
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-item-excerpt {
    padding: 0% 2rem;
}

/* ---POST LIST END--- */

/* ---POST PAGE START--- */

.post-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
}

.side-item {
    margin-bottom: 10px;
}

.side-item-link {
    padding: 0% 1rem;
}

.side-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content {
    text-align: center;
}

.post-title-area {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.post-item-content {
    display: flex;
    justify-content: center;
}

.post-item-content > p{
    padding: 15px;
    width: 1000px;
}

.post-title-area > h1 {
    margin: 0%;
    padding: 10px 0px;
}

.previous-next-button {
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---POST PAGE END--- */

/* ---NEW POST PAGE START--- */

.new-post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.new-post-title {
    width: 600px;
    height: 30px;
    margin-bottom: 30px;
}

.new-post-excerpt {
    width: 800px;
    height: 60px;
    margin-bottom: 30px;
}

.new-post-content {
    width: 1000px;
    height: 310px;
}

.btn-submit {
    margin-top: 30px;
    width: 500px;
    height: 70px;
}

/* ---NEW POST PAGE END--- */

/* ---ABOUT PAGE START--- */

.about-center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---ABOUT PAGE START--- */